*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(weathered-concrete-surface-wallpaper-background.jpg);
    background-size: cover;
}

h2{
    font-family: Freestyle Script;
    font-size: 80px;
    font-weight: lighter;
    text-align: center;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}


input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.btn-primary:hover {
    background-color: green;
    cursor: pointer;
    
}